//Main Styles
.main_nosotros{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nosotros_image_container{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nosotros_data_container{
        width: 50%;
        .title_nosotros_container{
            width: 100%;
            height: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            h2{
                font-weight: $textThin;
            }
        }

        .text_nosotros_container{
            width: 100%;
            height: 60%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            p{
                width: 80%;
                text-align: center;
            }
        }
    }
}

//Materials Styles
.materials{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .text-container-materials{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            width: 80%;
            text-align: center;
        }
    }

    .materials-image-container{
        width: 50%;
        justify-content: center;
        align-items: center;
        img{
            width: 95%;
            object-fit: contain;
        }
    }
}

//Select Your Style
.select-your-style{
    margin-top: 3%;
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url(../assets/Images/Nosotros/sastrería.jpg);
    background-size: 100%;
    .title-shop-continer{
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
            @include textos($textLg, $mainColor, $textThin);
            letter-spacing: 2px;
        }
    }

    .all-cards-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .card-container-materials{
            width: 25%;
            height: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            background-color: transparent;
            backdrop-filter: blur(3px);
            box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.59);
            border-radius: 5px;
            .image-card-container{
                width: 100%;
                img{
                    width: 100%;
                    border-radius: 5px 5px 0px 0px;
                    object-fit: contain;
                }
            }
            .text-card-container{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    width: 60%;
                    text-align: center;
                    color: $mainColor;
                }
            }
        }
    }
    
}
