//Variables Globales

//Colores
$mainColor:#fefefe ;
$secondaryColor:rgb(9, 9, 9);

//Fonts
$mainFont:'Montserrat', sans-serif;

//Sizing
$textXlg: 3rem;
$textLg: 2rem;
$textXmd:2.5rem;
$textMd: 1rem;
$textSm: .9rem;

//Weight
$textBold: 400;
$textThin: 300;