@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
.image-transition, main .product_main .product_card_main .image_container_products img:nth-child(1), .recommended_container .product_container .product_card_recommended .image_container_recommended img:nth-child(1):nth-child(1) {
  position: absolute;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: flex-start;
  transition: all 0.3s ease-in-out;
}
.image-transition:hover, main .product_main .product_card_main .image_container_products img:hover:nth-child(1), .recommended_container .product_container .product_card_recommended .image_container_recommended img:hover:nth-child(1) {
  opacity: 0;
}

.btn-gral, .cart_main .card_cart_container .cart_footer_container .cart_btn_container button, .cart_main .card_cart_container .cart_products_container .cart_product .btn-product-container button, .main_user .card_user_container .btn_container button, main .product_main .product_card_main .data_container_products .add_cart, .recommended_container .product_container .product_card_recommended .data_container_recommended .add_cart {
  width: 200px;
  height: 40px;
  background-color: rgb(9, 9, 9);
  border: none;
  color: #fbf9f9;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.btn-gral:hover, .cart_main .card_cart_container .cart_footer_container .cart_btn_container button:hover, .cart_main .card_cart_container .cart_products_container .cart_product .btn-product-container button:hover, .main_user .card_user_container .btn_container button:hover, main .product_main .product_card_main .data_container_products .add_cart:hover, .recommended_container .product_container .product_card_recommended .data_container_recommended .add_cart:hover {
  background-color: transparent;
  color: rgb(9, 9, 9);
  border: 0.2px solid rgb(9, 9, 9);
}
.btn-gral:active, .cart_main .card_cart_container .cart_footer_container .cart_btn_container button:active, .cart_main .card_cart_container .cart_products_container .cart_product .btn-product-container button:active, .main_user .card_user_container .btn_container button:active, main .product_main .product_card_main .data_container_products .add_cart:active, .recommended_container .product_container .product_card_recommended .data_container_recommended .add_cart:active {
  transform: scale(0.97);
}

* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(9, 9, 9);
  border-radius: 20px;
}

.my-nav-bar {
  width: 100%;
  box-shadow: 0px 0px 23px -20px rgba(0, 0, 0, 0.75);
  position: fixed;
  background-color: #fbf9f9;
  z-index: 1;
}
.my-nav-bar .image_container {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.my-nav-bar .image_container a {
  font-size: 1rem;
  color: rgb(9, 9, 9);
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
.my-nav-bar .item_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #fbf9f9;
}
.my-nav-bar .item_container ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
}
.my-nav-bar .item_container ul li a {
  font-size: 0.9rem;
  color: rgb(9, 9, 9);
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

header {
  width: 100%;
}
header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  margin-top: 51px;
}
header .header_title_container {
  position: absolute;
  display: flex;
  width: 35%;
  height: 80%;
  justify-content: center;
  align-items: center;
}
header .header_title_container h2 {
  font-size: 3rem;
  color: rgb(9, 9, 9);
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}

.recommended_container {
  width: 100%;
}
.recommended_container .title_recommended_container {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recommended_container .title_recommended_container h2 {
  font-weight: 300;
}
.recommended_container .product_container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.recommended_container .product_container .product_card_recommended {
  display: flex;
  flex-direction: column;
}
.recommended_container .product_container .product_card_recommended .image_container_recommended {
  width: 50%;
}
.recommended_container .product_container .product_card_recommended .image_container_recommended img {
  width: 300px;
}
.recommended_container .product_container .product_card_recommended .image_container_recommended img:nth-child(1) {
  width: 400px;
}
.recommended_container .product_container .product_card_recommended .image_container_recommended img:nth-child(1):nth-child(1) {
  width: 300px;
}
.recommended_container .product_container .product_card_recommended .data_container_recommended {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recommended_container .product_container .product_card_recommended .data_container_recommended h3 {
  font-size: 1rem;
  color: rgb(9, 9, 9);
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.recommended_container .product_container .product_card_recommended .data_container_recommended p {
  font-size: 1rem;
}
main {
  width: 100%;
}
main .main_title_container {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
main .main_title_container h1 {
  font-weight: 300;
}
main .product_main {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
main .product_main .divisor {
  width: 100%;
}
main .product_main .product_card_main {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
main .product_main .product_card_main .image_container_products {
  width: 100%;
}
main .product_main .product_card_main .image_container_products img {
  width: 400px;
}
main .product_main .product_card_main .image_container_products img:nth-child(1) {
  width: 400px;
}
main .product_main .product_card_main .data_container_products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .product_main .product_card_main .data_container_products h3 {
  font-size: 1rem;
  color: rgb(9, 9, 9);
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
main .product_main .product_card_main .data_container_products p {
  font-size: 1rem;
}
footer {
  width: 100%;
  height: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
}
footer .title_footer_container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
footer .title_footer_container h2 {
  font-weight: 300;
  font-size: 2rem;
}
footer .icons_container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .icons_container a i {
  font-size: 2.5rem;
  color: rgb(9, 9, 9);
  transition: all 0.3s ease-in;
}
footer .icons_container a i.instagram:hover {
  color: transparent;
  background: linear-gradient(180deg, rgb(131, 58, 180) 6%, rgb(253, 29, 29) 53%, rgb(252, 176, 69) 93%);
  background-clip: text;
  -webkit-background-clip: text;
}
footer .icons_container a i.linkedin:hover {
  color: #0A66C2;
}
footer .icons_container a i.facebook:hover {
  color: #3B5998;
}
footer .copyright_container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .copyright_container small {
  color: rgb(9, 9, 9);
  width: 20%;
  text-align: center;
  opacity: 0.6;
  margin-bottom: 20px;
}

.main_nosotros {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_nosotros .nosotros_image_container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_nosotros .nosotros_data_container {
  width: 50%;
}
.main_nosotros .nosotros_data_container .title_nosotros_container {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_nosotros .nosotros_data_container .title_nosotros_container h2 {
  font-weight: 300;
}
.main_nosotros .nosotros_data_container .text_nosotros_container {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.main_nosotros .nosotros_data_container .text_nosotros_container p {
  width: 80%;
  text-align: center;
}

.materials {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.materials .text-container-materials {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.materials .text-container-materials p {
  width: 80%;
  text-align: center;
}
.materials .materials-image-container {
  width: 50%;
  justify-content: center;
  align-items: center;
}
.materials .materials-image-container img {
  width: 95%;
  object-fit: contain;
}

.select-your-style {
  margin-top: 3%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url(../assets/Images/Nosotros/sastrería.jpg);
  background-size: 100%;
}
.select-your-style .title-shop-continer {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select-your-style .title-shop-continer h2 {
  font-size: 2rem;
  color: #fbf9f9;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
}
.select-your-style .all-cards-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.select-your-style .all-cards-container .card-container-materials {
  width: 25%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  backdrop-filter: blur(3px);
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.59);
  border-radius: 5px;
}
.select-your-style .all-cards-container .card-container-materials .image-card-container {
  width: 100%;
}
.select-your-style .all-cards-container .card-container-materials .image-card-container img {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  object-fit: contain;
}
.select-your-style .all-cards-container .card-container-materials .text-card-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select-your-style .all-cards-container .card-container-materials .text-card-container p {
  width: 60%;
  text-align: center;
  color: #fbf9f9;
}

.main_user {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_user .card_user_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
  height: 75%;
  border-radius: 15px;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.37);
}
.main_user .card_user_container .image_user_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_user .card_user_container .image_user_container:nth-child(1) {
  font-size: 3rem;
  color: rgb(9, 9, 9);
}
.main_user .card_user_container .inputs_user_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main_user .card_user_container .inputs_user_container input {
  width: 200px;
  height: 40px;
  text-align: center;
  margin-top: 20px;
  border: 1px solid rgb(9, 9, 9);
  border-radius: 15px;
}
.main_user .card_user_container .btn_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_user .card_user_container .btn_container button {
  width: 150px;
  height: 30px;
}
.main_user .card_user_container .text_user_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main_user .card_user_container .text_user_container small {
  width: 15%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 10px;
}
.main_user .card_user_container .text_user_container a {
  font-size: 0.8rem;
  text-align: center;
}

.cart_main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart_main .card_cart_container {
  width: 90%;
  height: 75%;
  display: grid;
  grid-template-columns: 6, 1fr;
  grid-template-rows: 30% 50% 20%;
  grid-template-areas: "one" "two" "three";
  border-radius: 15px;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.37);
}
.cart_main .card_cart_container .title_cart_container {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}
.cart_main .card_cart_container .title_cart_container p {
  margin-right: 200px;
}
.cart_main .card_cart_container .title_cart_container.one {
  grid-area: one;
}
.cart_main .card_cart_container .cart_products_container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 6, 1fr;
  grid-template-rows: auto;
}
.cart_main .card_cart_container .cart_products_container .cart_product {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cart_main .card_cart_container .cart_products_container .cart_product img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 1px solid rgba(41, 41, 41, 0.281);
}
.cart_main .card_cart_container .cart_products_container .cart_product p {
  font-size: 1rem;
}
.cart_main .card_cart_container .cart_products_container .cart_product .btn-product-container {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cart_main .card_cart_container .cart_products_container .cart_product .btn-product-container button {
  width: 30px;
  height: 30px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.cart_main .card_cart_container .cart_products_container .cart_product .btn-product-container a i {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgb(9, 9, 9);
  font-size: 1.3rem;
}
.cart_main .card_cart_container .cart_products_container .cart_product .btn-product-container a i:hover {
  color: #bf2222;
}
.cart_main .card_cart_container .cart_products_container .cart_product .btn-product-container a i:active {
  transform: scale(0.97);
}
.cart_main .card_cart_container .cart_products_container.two {
  grid-area: two;
}
.cart_main .card_cart_container .cart_footer_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.cart_main .card_cart_container .cart_footer_container .cart_btn_container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart_main .card_cart_container .cart_footer_container .cart_btn_container button {
  width: auto;
  height: 30px;
}
.cart_main .card_cart_container .cart_footer_container .resume_container {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}
.cart_main .card_cart_container .cart_footer_container .resume_container h3 {
  font-weight: 400;
}
.cart_main .card_cart_container .cart_footer_container.three {
  grid-area: three;
}

@media (max-width: 1400px) {
  .main_nosotros {
    height: 80%;
  }
  .main_nosotros .nosotros_image_container img {
    width: 100%;
  }
  .main_nosotros .nosotros_data_container {
    height: 80%;
  }
  .main_nosotros .nosotros_data_container .title_nosotros_container {
    height: 30%;
  }
  .main_nosotros .nosotros_data_container .title_nosotros_container h2 {
    font-size: 1.6rem;
  }
  .select-your-style {
    margin-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .select-your-style .title-shop-continer {
    height: 10%;
  }
  .select-your-style .title-shop-continer h2 {
    font-size: 1.8rem;
  }
  .select-your-style .all-cards-container {
    height: 80%;
  }
  .select-your-style .all-cards-container .card-container-materials {
    height: 90%;
    width: 30%;
  }
  .select-your-style .all-cards-container .card-container-materials .text-card-container {
    height: 100%;
    overflow: scroll;
    align-items: flex-start;
  }
  .select-your-style .all-cards-container .card-container-materials .text-card-container p {
    font-size: 1.1rem;
    width: 65%;
  }
}
@media (max-width: 1024px) {
  .recommended_container .title_recommended_container {
    height: 90px;
  }
  .recommended_container .product_container .product_card_recommended {
    width: 100%;
  }
  .recommended_container .product_container .product_card_recommended .data_container_recommended h3 {
    flex-wrap: wrap;
    width: 60%;
    text-align: center;
  }
}
@media (max-width: 768px) {
  header {
    width: 100%;
  }
  header img {
    height: 70%;
    width: 100%;
    margin-top: 55px;
  }
  header .header_title_container {
    width: 45%;
    height: 80%;
  }
  header .header_title_container h2 {
    font-size: 2.2rem;
  }
  .recommended_container .title_recommended_container {
    height: 80px;
  }
  .recommended_container .product_container {
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  .recommended_container .product_container::-webkit-scrollbar {
    height: 3px;
  }
  .recommended_container .product_container::-webkit-scrollbar-thumb {
    background-color: rgb(23, 23, 23);
  }
  .recommended_container .product_container .product_card_recommended {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0% 12% 0% 12%;
    scroll-snap-align: center;
  }
  .recommended_container .product_container .product_card_recommended .image_container_recommended {
    width: 50%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin-bottom: 5%;
  }
  .recommended_container .product_container .product_card_recommended .image_container_recommended img {
    scroll-snap-align: center;
  }
  .recommended_container .product_container .product_card_recommended .image_container_recommended img:nth-child(1) {
    position: relative;
    display: flex;
    width: 300px;
    height: auto;
    justify-content: center;
    align-items: flex-end;
    transition: none;
    object-fit: contain;
  }
  .recommended_container .product_container .product_card_recommended .image_container_recommended img:nth-child(1):hover {
    opacity: 1;
  }
  .main_nosotros {
    height: 70%;
  }
  .main_nosotros .nosotros_image_container img {
    width: 100%;
  }
  .main_nosotros .nosotros_data_container {
    height: 70%;
  }
  .main_nosotros .nosotros_data_container .title_nosotros_container {
    height: 30%;
  }
  .main_nosotros .nosotros_data_container .title_nosotros_container h2 {
    font-size: 1.6rem;
  }
  .materials {
    height: 50%;
  }
  .select-your-style {
    margin-top: 0;
  }
  .cart_main .card_cart_container .title_cart_container {
    width: 95%;
    justify-content: space-evenly;
  }
  .cart_main .card_cart_container .title_cart_container p {
    margin-right: 0;
  }
  .cart_main .card_cart_container .cart_footer_container {
    margin-top: 20px;
  }
  .cart_main .card_cart_container .cart_footer_container .resume_container {
    width: 40%;
    align-items: center;
    justify-content: flex-start;
  }
  .cart_main .card_cart_container .cart_footer_container .resume_container h3 {
    font-size: 1.3rem;
  }
}
@media (max-width: 480px) {
  header img {
    height: 40%;
  }
  header .header_title_container {
    width: 50%;
    height: 35%;
  }
  header .header_title_container h2 {
    font-size: 2rem;
  }
  .recommended_container .product_container .product_card_recommended .image_container_recommended {
    width: 55%;
  }
  .recommended_container .product_container .product_card_recommended .image_container_recommended img {
    width: 400px;
    height: 400px;
  }
  .recommended_container .product_container .product_card_recommended .image_container_recommended img:nth-child(1) {
    width: 400px;
    height: 400px;
  }
  footer .copyright_container small {
    width: 50%;
  }
  .main_nosotros {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .main_nosotros .nosotros_image_container {
    width: 100%;
    height: 100%;
  }
  .main_nosotros .nosotros_data_container {
    width: 100%;
    flex-direction: column;
  }
  .materials {
    height: 60%;
    flex-direction: column;
  }
  .materials .text-container-materials {
    width: 100%;
  }
  .materials .materials-image-container {
    width: 100%;
  }
  .materials .materials-image-container img {
    width: 100%;
  }
  .select-your-style .title-shop-continer {
    height: 30%;
  }
  .select-your-style .title-shop-continer h2 {
    font-size: 1.6rem;
    text-align: center;
  }
  .select-your-style .all-cards-container {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  .select-your-style .all-cards-container .card-container-materials {
    width: 100%;
    display: flex;
    scroll-snap-align: center;
    margin: 0% 50% 0% 50%;
  }
  .select-your-style .all-cards-container .card-container-materials .image-card-container img {
    width: 300px;
    object-fit: contain;
  }
  .main_user .card_user_container .text_user_container small {
    width: 50%;
  }
  .cart_main .card_cart_container {
    height: 70%;
    grid-template-areas: "two" "two" "two" "three" "three" "three";
  }
  .cart_main .card_cart_container .title_cart_container {
    display: none;
  }
  .cart_main .card_cart_container .cart_products_container {
    overflow: scroll;
  }
  .cart_main .card_cart_container .cart_products_container .cart_product {
    flex-direction: column;
  }
  .cart_main .card_cart_container .cart_products_container .cart_product img {
    width: 100px;
    margin-top: 20px;
  }
  .cart_main .card_cart_container .cart_footer_container .cart_btn_container button {
    width: 150px;
    font-size: 0.8rem;
  }
  .cart_main .card_cart_container .cart_footer_container .resume_container {
    width: 40%;
    align-items: center;
    justify-content: flex-start;
  }
  .cart_main .card_cart_container .cart_footer_container .resume_container h3 {
    font-size: 1rem;
  }
}
@media (max-width: 400px) {
  header .header_title_container {
    width: 65%;
    height: 30%;
  }
  header .header_title_container h2 {
    font-size: 1.8rem;
  }
}
@media (max-width: 360px) {
  header {
    width: 100%;
  }
  header img {
    height: 60%;
    width: 100%;
    margin-top: 55px;
    object-fit: cover;
  }
  header .header_title_container {
    width: 60%;
    height: 35%;
  }
  header .header_title_container h2 {
    font-size: 1.5rem;
  }
  .recommended_container .title_recommended_container {
    height: auto;
    margin-top: 20px;
  }
  .recommended_container .product_container {
    height: 80%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  .recommended_container .product_container .product_card_recommended {
    margin: 0% 50% 0% 50%;
  }
  .recommended_container .product_container .product_card_recommended .image_container_recommended {
    width: 100%;
  }
  .recommended_container .product_container .product_card_recommended .image_container_recommended img {
    width: 100%;
    height: auto;
  }
  .recommended_container .product_container .product_card_recommended .image_container_recommended img:nth-child(1) {
    width: 100%;
    height: auto;
  }
  .recommended_container .product_container .product_card_recommended .data_container_recommended h3 {
    text-align: center;
    width: 100%;
    font-size: 1rem;
  }
  main .product_main .product_card_main .image_container_products img {
    width: 100%;
  }
  main .product_main .product_card_main .image_container_products img:nth-child(1) {
    width: 100%;
  }
  footer .copyright_container small {
    width: 100%;
  }
  .main_nosotros .nosotros_image_container {
    width: 100%;
    height: 60%;
    margin-top: 20px;
  }
  .main_nosotros .nosotros_data_container .title_nosotros_container {
    height: 20%;
  }
  .main_user .card_user_container .text_user_container small {
    width: 100%;
  }
  .cart_main .card_cart_container .cart_products_container .cart_product .btn-product-container {
    width: 50%;
  }
}

/*# sourceMappingURL=main.css.map */
