@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

/* Aplica la misma font a todo el archivo */
*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}


body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 20px;
}

.my-nav-bar{
    width: 100%;
    box-shadow: 0px 0px 23px -20px rgba(0,0,0,0.75);
    position: fixed;
    background-color: #fff;
    z-index: 1;
}


.image_container{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.image_container a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 1rem;
}

.item_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #fff;
}

.item_container ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
}

.item_container a{
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: .9rem;
}



/* End NAV Styles */

header{
    width: 100%;
}

header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    margin-top: 51px;
}

.header_title_container{
    position: absolute;
    display: flex;
    width: 35%;
    height: 80%;
    justify-content:center;
    align-items: center;
}

.header_title_container h2{
    font-size: 3rem;
    font-weight: 300;
    color:black;
}

/* End HEADER Styles */

.recommended_container{
    width: 100%;
}

.title_recommended_container{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_recommended_container h2{
    font-weight: 300;
}

.product_container{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.product_card_recommended{
    display: flex;
    flex-direction: column;
}

.image_container_recommended{
    width: 50%;
}

.image_container_recommended img{
    width: 300px;
}

.image_container_recommended img:nth-child(1){
    position: absolute;
    display: flex;
    width: 300px;
    height: auto;
    justify-content:center;
    align-items: flex-start;
    transition: all .3s ease-in-out;
    object-fit: contain;
}

.image_container_recommended img:nth-child(1):hover{
    opacity: 0;
}


.data_container_recommended{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data_container_recommended h3{
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
}

.data_container_recommended p{
    font-size: 1rem;

}

.add_cart{
    width: 200px;
    height: 40px;
    background-color: rgb(19, 19, 19);
    border: none;
    color: #fff;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.add_cart:hover{
    background-color: transparent;
    color: black;
    border: .2px solid black;
}

.add_cart:active{
    transform: scale(.97);
}

/* End Recommended Styles */

.divisor{
    width: 100%;
}

main{
    width: 100%;
}

.main_title_container{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main_title_container h1{
    font-weight: 300;
}

.product_main{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.product_card_main{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.image_container_products img{
    width: 400px;

}

.image_container_products img:nth-child(1){
    position: absolute;
    display: flex;
    width: 400px;
    height: auto;
    justify-content:center;
    align-items: flex-start;
    transition: all .3s ease-in-out;
}

.image_container_products img:nth-child(1):hover{
    opacity: 0;
}

.image_container_products{
    width: 100%;
}

.data_container_products{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.data_container_products h3{
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
}

.data_container_products p{
    font-size: 1rem;
}

/* Ends MAIN Styles */

footer{
    width: 100%;
    height: 50%;
    position: absolute;
    display: flex;
    flex-direction: column;
}


.title_footer_container{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.title_footer_container h2{
    font-weight: 300;
    font-size: 2rem;
}

.icons_container{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icons_container i{
    font-size: 2.5rem;
    color: black;
    transition: all .3s ease-in;
}

.instagram:hover{
    color: transparent;
    background: linear-gradient(180deg, rgba(131,58,180,1) 6%, rgba(253,29,29,1) 53%, rgba(252,176,69,1) 93%);
    background-clip: text;
    -webkit-background-clip: text;

}

.linkedin:hover{
    color: #0A66C2;
}

.facebook:hover{
    color: #3B5998;
}

.copyright_container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright_container small{
    color: black;
    width: 20%;
    text-align: center;
    opacity: .6;
    margin-bottom: 20px;
}

/* Ends FOOTER Styles */

.main_nosotros{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nosotros_image_container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nosotros_data_container{
    width: 50%;
}

.title_nosotros_container{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_nosotros_container h2{
    font-weight: 300;
}

.text_nosotros_container{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.text_nosotros_container p{
    width: 80%;
    text-align: center;
}

.materials{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container-materials{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container-materials p{
    width: 80%;
    text-align: center;
}

.materials-image-container{
    width: 50%;
    justify-content: center;
    align-items: center;
}

.materials-image-container img{
    width: 95%;
    object-fit: contain;
}

.select-your-style{
    margin-top: 3%;
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url(../assets/Images/Nosotros/sastrería.jpg);
    background-size: 100%;
}

.title-shop-continer{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-shop-continer h2{
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 2px;
}

.all-cards-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.card-container-materials{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    backdrop-filter: blur(3px);
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.59);
    border-radius: 5px;
}

.image-card-container{
    width: 100%;
}

.image-card-container img{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    object-fit: contain;
}

.text-card-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-card-container p{
    width: 60%;
    text-align: center;
    color: #fff;
}

/* Ends NOSOTROS Styles */

.main_user{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_user_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    height: 75%;
    border-radius: 15px;
    box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.37);
}

.image_user_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_user_container:nth-child(1){
    font-size: 3rem;
    color: black;
}

.inputs_user_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputs_user_container input{
    width: 200px;
    height: 40px;
    text-align: center;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 15px;
}

.btn_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_container button{
    width: 150px;
    height: 30px;
    border: none;
    background-color: black;
    color: white;
    font-size: 1rem;
    transition: all .3s ease-in-out;
}

.btn_container button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.btn_container button:active{
    transform: scale(.97);
}

.text_user_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text_user_container small{
    width: 15%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 10px;
}
.text_user_container a{
    font-size: .8rem;
    text-align: center;
}

/* Ends LOGIN/REGISTER Styles */

.cart_main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_cart_container{
    width: 90%;
    height: 75%;
    display: grid;
    grid-template-columns: 6, 1fr;
    grid-template-rows:30% 50% 20%;
    grid-template-areas: 
    "one" 
    "two"
    "three";
    border-radius: 15px;
    box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.37);
}

.one{
    grid-area: one;
}

.two{
    grid-area: two;
}

.three{
    grid-area: three;
}

.title_cart_container{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}
.title_cart_container p{
    margin-right: 200px;
}

.cart_products_container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 6,1fr;
    grid-template-rows:auto;
}
.cart_product{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cart_product img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 1px solid rgba(41, 41, 41, 0.281);
}

.cart_product p{
    font-size: 1rem;
}

.btn-product-container{
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cart_product button{
    width: 30px;
    height: 30px;
    border: none;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.cart_product button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.cart_product button:active{
    transform: scale(0.9);
}

.cart_product a{
    transition: all .3s ease-in-out;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

.cart_product a:hover{
    color: #bf2222;
}

.cart_product a:active{
    transform: scale(.97);
}

.cart_footer_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.cart_btn_container{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_btn_container button{
    width: auto;
    height: 30px;
    border: none;
    background-color: black;
    color: white;
    font-size: 1rem;
    transition: all .3s ease-in-out;
}

.cart_btn_container button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.cart_btn_container button:active{
    transform: scale(.97);
}

.resume_container{
    width: 20%;
    display: flex;
    justify-content: flex-end;
}
.resume_container h3{
    font-weight: 400;
}

/* Ends CART Styles */


/* RESPONSIVE */

@media (max-width:1024px){
    /* START HOME RESPONSIVE */
        /* Recommended Styles */
        .title_recommended_container{
            height: 90px;
        }

        .data_container_recommended h3{
            flex-wrap: wrap;
            width: 60%;
            text-align: center;
        }

        .product_card_recommended{
            width: 100%;
        }
    /* END HOME RESPONSIVE */

    /* START NOSOTROS RESPONSIVE */
        /* Main Nosotros Styles */
        .main_nosotros{
            height: 80%;
        }
        .nosotros_image_container img{
            width: 100%;
        }
        .nosotros_data_container{
            height: 80%;
        }
        .title_nosotros_container{
            height: 30%;
        }
        .title_nosotros_container h2{
            font-size: 1.6rem;
        }

        /* Select Your Stlye */
        .select-your-style{
            margin-top: 50px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .title-shop-continer{
            height: 10%;
        }
        .title-shop-continer h2{
            font-size: 1.8rem;
        }
        .all-cards-container{
            height: 80%;
        }
        .card-container-materials{
            height: 90%;
            width: 30%;
        }
        .text-card-container{
            height: 100%;
            overflow: scroll;
            align-items: flex-start;
        }
        .text-card-container p{
            font-size: 1.1rem;
            width: 65%;
        }

    /* END NOSOTROS RESPONSIVE */
}

@media (max-width:768px) {
    /* START HOME RESPONSIVE */

        /* Header Styles */
        header{
            width: 100%;
        }

        header img{
            height: 70%;
            width: 100%;
            margin-top: 55px;
        }

        .header_title_container{
            width: 45%;
            height: 80%;
        }

        .header_title_container h2{
            font-size: 2.2rem;
        }

        /* Recommended Styles */

        .title_recommended_container{
            height: 80px;
        }

        .product_container{
            height: 100%;
            width: 100%;
            justify-content:flex-start;
            align-items: center;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
        }

        .product_container::-webkit-scrollbar{
            height: 3px;
        }

        .product_container::-webkit-scrollbar-thumb{
            background-color: rgb(23, 23, 23);
        }

        .product_card_recommended{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin:0% 12% 0% 12%;
            scroll-snap-align: center;
        }

        .image_container_recommended{
            width: 50%;
            display: flex;
            flex-direction: row;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            margin-bottom: 5%;
        }

        .image_container_recommended img{
            scroll-snap-align: center;
        }

        .image_container_recommended img:nth-child(1){
            position: relative;
            display: flex;
            width: 300px;
            height: auto;
            justify-content:center;
            align-items: flex-end;
            transition: none;
            object-fit: contain;
        }

        .image_container_recommended img:nth-child(1):hover{
            opacity: 1;
        }

    /* END HOME RESPONSIVE */

    /* START NOSOTROS RESPONSIVE */

        /* Main Styles */
        .main_nosotros{
            height: 70%;
        }
        .nosotros_image_container img{
            width: 100%;
        }
        .nosotros_data_container{
            height: 70%;
        }
        .title_nosotros_container{
            height: 30%;
        }
        .title_nosotros_container h2{
            font-size: 1.6rem;
        }

        /* Section Materials Styles */
        .materials{
            height: 50%;
        }

        /* Select Your Stlye */
        .select-your-style{
            margin-top: 0;
        }

    /* END NOSOTROS RESPONSIVE */

    /* START CART RESPONSIVE */

        /* Title Continer Styles */
        .title_cart_container{
            width: 95%;
            justify-content: space-evenly;
        }

        .title_cart_container p{
            margin-right: 0;
        }

        .resume_container{
            width: 40%;
            align-items: center;
            justify-content: flex-start;
        }
        .resume_container h3{
            font-size: 1.3rem;
        }
        .cart_footer_container{
            margin-top: 20px;
        }

    /* END CART RESPONSIVE */
}


@media (max-width: 480px){

    /* START HOME RESPONSIVE */

        /* Header Styles */
        header img{
            height: 40%;
        }

        .header_title_container{
            width: 50%;
            height: 35%;
        }
        .header_title_container h2{
            font-size: 2rem;
        }

        /* Recommended Styles */
        .image_container_recommended img{
            width: 400px;
            height: 400px;
        }
        .image_container_recommended img:nth-child(1){
            width: 400px;
            height: 400px;
        }
        .image_container_recommended{
            width: 55%;
        }
  
        /* Footer Styles */
        .copyright_container small{
            width: 50%;
        }

    /* END HOME RESPONSIVE */

    /* START NOSOTROS RESPONSIVE */

        /* Main Styles */
        .main_nosotros{
            width: 100%;
            height: 100%;
            flex-direction: column;
        }
        .nosotros_image_container{
            width: 100%;
            height: 100%;
        }
        .nosotros_data_container{
            width: 100%;
            flex-direction: column;
        }

        /* Materials Styles */
        .materials{
            height: 60%;
            flex-direction: column;
        }
        .text-container-materials{
            width: 100%;
        }
        .materials-image-container{
            width: 100%;
        }
        .materials-image-container img{
            width: 100%;
        }

        /* Select Your Style */
        .title-shop-continer{
            height: 30%;
        }
        .title-shop-continer h2{
            font-size: 1.6rem;
            text-align: center;
        }
        .all-cards-container{
            width: 100%;
            height: 100%;
            justify-content: flex-start;
            align-items: flex-start;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
        }

        .card-container-materials{
            width: 100%;
            display: flex;
            scroll-snap-align: center;
            margin: 0% 50% 0% 50%;
        }
        .image-card-container img{
            width: 300px;
            object-fit: contain;
        }
    /* END NOSOTROS RESPONSIVE */

    /* START LOGIN/REGISTER RESPONSIVE */
        /* Text User Styles */
        .text_user_container small{
            width: 50%;
        }
    /* END LOGIN/REGISTER RESPONSIVE */

    /* START CART RESPONSIVE */
        /* Main Cart Styles */
        .title_cart_container{
            display: none;
        }
        .card_cart_container{
            height: 70%;
            grid-template-areas:
            "two" "two" "two"
            "three" "three" "three";
        }
        .cart_product{
            flex-direction: column;
        }
        .cart_product img{
            width: 100px;
            margin-top: 20px
        }
        .cart_products_container{
            overflow: scroll;
        }
        .resume_container{
            width: 40%;
            align-items: center;
            justify-content: flex-start;
        }
        .resume_container h3{
            font-size: 1rem;
        }

        .cart_btn_container button{
            width: 150px;
            font-size: .8rem;
        }
    /* END CART RESPONSIVE */
}

@media (max-width:400px){
    /* START HOME RESPONSIVE */

        /* Header Styles */
        .header_title_container{
            width: 65%;
            height: 30%;
        }

        .header_title_container h2{
            font-size: 1.8rem;
        }

    /* END HOME RESPONSIVE */
}

@media (max-width:360px){
    /* START HOME RESPOSIVE */
        /* Header Styles */
        header{
            width: 100%;
        }

        header img{
            height: 60%;
            width: 100%;
            margin-top: 55px;
            object-fit: cover;
        }

        .header_title_container{
            width: 60%;
            height: 35%;
        }

        .header_title_container h2{
            font-size: 1.5rem;
        }

        /* Recommended Styles */
        .title_recommended_container{
            height: auto;
            margin-top: 20px;
        }

        .product_container{
            height: 80%;
            width: 100%;
            justify-content:flex-start;
            align-items: center;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
        }

        .data_container_recommended h3{
            text-align: center;
            width: 100%;
            font-size: 1rem;
        }

        .image_container_recommended img{
            width:100%;
            height:auto;
        }
        .image_container_recommended img:nth-child(1){
            width: 100%;
            height:auto;
        }
        .image_container_recommended{
            width: 100%;
        }

        .product_card_recommended{
            margin: 0% 50% 0% 50%;
        }

        /* Products Styles */

        .image_container_products img{
            width: 100%;
        
        }
        
        .image_container_products img:nth-child(1){
            width: 100%;
        }

        /* Footer Styles */
        .copyright_container small{
            width: 100%;
        }


    /* END HOME RESPONSIVE */

    /* START NOSOTROS RESPONSIVE */
        /* Main Styles */
        .nosotros_image_container{
            width: 100%;
            height: 60%;
            margin-top: 20px;
        }
        
        .title_nosotros_container{
            height: 20%;
        }
    /* END NOSOTROS RESPONSIVE */

    /* START LOGIN/REGISTER RESPONSIVE */
        /* Text User Styles */
        .text_user_container small{
            width: 100%;
        }
    /* END LOGIN/REGISTER REPSONSIVE */


    /* START CART RESPONSIVE */
        /* Button Product Styles */
        .btn-product-container{
            width: 50%;
        }
    /* END CART RESPONSIVE */
}